{% extends "wrapper.html" %}
{% load crispy_forms_tags %}
{% block content %}
<h1 class="display-4">Вход</h1>
<form action='{% url "login" %}' method="post">
    {% csrf_token %}
    <div class="form-row mt-3">
        <div class="form-group col-12 text-info">
            {{ form|crispy }}
        </div>
    </div>
    <input class="btn btn-outline-info active w-100 mb-3" type="submit" value="Войти">
    <a class="btn btn-outline-info w-100 my-3" href='{% url "register" %}'>Регистрация</a>
</form>
{% endblock %}